<h3 class="pt-5 px-4 font-style1 text-larger"><span class="text-warning">Remitt*</span>  at a Glance</h3>

<SECTION id="OUR-HISTORY">
    <div class="sub-bg float-right">
<!-- <h2>OUR HISTORY</h2><br> -->
<h2 class="font-style1 text-large">Core Mission</h2>
<P class="font-monospace text-medium">The bank of the people characterised by excellent transaction service delivery secured with three level cyber security. <button class="btn btn-orange"> Learn More  </button></P> 
<!-- <button class="btn btn-orange"> Learn More  </button> -->

<h2 class=" font-style1">Meet Our Board of Directors</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9vrHUYfVIh_mD--I-FDZ1wJhO2GIUdqRP7g&usqp=CAU" alt="">
<p>l-r Jade Tapper, Wiliam Pol, Kate Cole, Uthman Jubril, Desi Hassan, Keil Merlin, George Kia, Anah Paul, Fareed Hammad</p>

<!-- <div id="container">
  <div class="box3">
      <h2>Vision</h2><br>
      <P class="text-white">To lead innovative, inclusive, sustainable  world class healthcare in the Globe.</P>

  </div>
  <div class="box3">
      <h2>Mission</h2><br>
      <P class="text-white"> To provide patient-centered healthcare with excellence in quality, service, and access. </P>
  </div>
  <div class="box3">
      <h2>Values</h2><br>
      <p class="text-white">EMPATHY</p>
      <p class="text-white">EXCELLENCE</p>
      <p class="text-white">SERVICE</p>
  </div>
</div> -->
</div> 
</SECTION>

<div class="footer bg-dark text-light">
    <h2 class="text-light text-decoration-underline p-4 pt-5">Legal Conditions</h2>
    <ul>
      
       <a class="text-light text-decoration-none pb-1 lg-height" href="">Terms and conditions</a> <br>
      
     
      <a  class="text-light text-decoration-none pb-1 lg-height " href="">Privacy policy</a>  <br>
      
      
      <a  class="text-light text-decoration-none pb-1 lg-height"   href="">Cookies policy</a> <br>
      
      <a  class="text-light text-decoration-none pb-1 lg-height" href="">Financial statement</a>  <br>
      
    </ul>
  
    <a routerLink='/login' class="text-light text-decoration-primary" >Support Db</a>
    <p class="p-4">67 Buckingham Gate, London, SW1E 6AJ, United Kingdom. Company registration number: 09110848 Remitt Mobile Banking is Authorised and Regulated by the Financial Conduct Authority (FCA) under the Payment Service Regulations 2017 and Electronic Money Regulations 2011. Registration number: 900591.</p>
    <p class="text-large bg-grey"> <span class="text-style1 text-larger lg-height"> Remitt* </span> Mobile Banking &COPY; 2021, All Rights Reserved</p>
  </div>
  
