<!-- <h3 class="pt-5 px-4 font-style1 text-larger"><span class="text-warning">Remitt*</span>  Mobile Banking Website</h3>
<h6 class="pt-2 px-4 font-style1 font-monospace font-bold">by <span class="text-style2 "> Zainab Afolabi | Angular Developer | Software Engineer</span></h6> -->

<div class="main-bg"><br><br><br><br><br>
  <div class="sub-bg container">
    <nav class="navbar navbar-expand-lg navbar-dark  mb-4">
  
      <div class="container ">
        <a routerLink='/about' class="navbar-brand text-style1 text-bold">Remitt*</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="" class="nav-link">Services</a>
            </li>
          </ul> -->
    
          <ul class="navbar-nav ml-auto text-bold">
            <li class="nav-item">
              <a routerLink='/contact' class="nav-link text-dark">Contact</a>
            </li>
          </ul>
    
          <ul class="navbar-nav ml-auto text-bold">
            <li class="nav-item">
              <a routerLink='/careers' class="nav-link 
               
               text-dark">Careers</a>
            </li>
          </ul>
          <ul class="navbar-nav float-right ml-auto text-bold  ">
            <li class="nav-item "> 
              <a routerLink='/cardRequest' class="nav-link text-dark ">Get Card</a>
            </li>
          </ul>
          <ul class="navbar-nav float-right text-bold  action-link  ml-auto  ">
            <li class="nav-item ">
              <a routerLink='/login' class="nav-link text-dark ml-2">Send Money</a>
            </li>
          </ul>
          <ul class="navbar-nav float-right text-bold action-link  ml-auto  ">
            <li class="nav-item ">
              <a routerLink='/login' class="nav-link text-dark ml-2">Translate Page</a>
            </li>
          </ul>
    
        </div>
      </div>
    </nav><br><br><br>
    
    <div class="container">
    <div class="float-left">
    <div class="showcase-content main-heading float-left">
      <p> <span class="text-style1">Remitt</span>  <span class="text-warning">* </span> </p>
      <p>6 times in a row</p>
      <p>Mobile Banking</p>
      <p>Of the Year!</p>
    </div>
  </div>

  
  <div class="float-right">
    <div class="showcase-image ">
      <img src="https://images.unsplash.com/photo-1560472355-536de3962603?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y3JlZGl0JTIwY2FyZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
      
    </div>
  </div>
</div>
    <div class="clear"></div>

  </div>

</div>

<div class="box">
  <h2 class="text-center text-dark font-bolder main-heading pt-5 pb-3">Why Choose <span class="text-style1"> Remitt* ?</span></h2>

  <div class="box1 text-style3 font-bold text-center ">
    <i class="fa fa-clock-o fa-3x"  ></i>
     <p class="pt-4">We're Fast</p>
     <p>97% of our transfer are ready in five minutes!</p>
  </div>
  <div class="box2 text-style3 font-bold text-center  ">   
    <i class="fa fa-clock-o fa-3x"  ></i>
    <i class="fas fa-shield-alt"></i>
    <!-- <i class="fa fa-user-shield fa-3x"></i> -->
     <p class="pt-4" >We're Safe</p>
     <p class="text-style3">We use 3 step top security industry technology to protect your money.</p>
  </div>
  <div class="box3 text-style3 font-bold text-center  ">
    <i class="fa fa-clock-o fa-3x"  ></i>
    <!-- <i class="fal fa-coins fa-3x"></i> -->
     <p class="pt-4" >We're Low-cost</p>
     <p>We offer better exchange rates and low fees compared to all conventional banks  and money transfer services. </p>
  </div>
  <div class="clear"></div>
</div>


<div class="sub-bg-2 ">
  <div class="float-left">
  <div class="showcase-img2 ">
    <img src="https://images.unsplash.com/photo-1609921141835-710b7fa6e438?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFua2luZyUyMGFwcHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">

    <div class="showcase-content2 ">
      <h3 class="text-dark align-left font-bold font-style1 pb-4 font-monospace">A fast and secure way to send money to over 130 countries in <span class="text-style1 font-style1">just four clicks away!</span> </h3>
      <h5 class="p-3 text-dark lg-height font-bold font-monospace">Download our app for free & 
        <!-- <a href=""><span class="text-style1  font-style1"> send money in 5 minutes, </span></a> -->
        <span class="text-style1  font-style1"> send money in 5 minutes, </span> <br>
         track your payments & view your transfer history from anywhere in the world.</h5>
    </div>
  </div>
</div>
</div>

<div class="sub-bg-3 ">
  <p class="text-center text-light font-style1 pt-5 text-large">Trust Pilot</p>
  <p class="text-center text-light font-style1 text-large">Reviews 54,872 . Excellent | <span class="text-success">****</span> </p>
  <div class="reviews">
    <div class="review-1 font-style2 bg-light rounded-3 p-4">
      <h3 class=" p-4">Karen Johnson</h3>
      <i class="fab fa-canadian-maple-leaf"></i>
      <p class="text-success">***** </p>
      <p>"Swift & seamless service"</p>
      <p>5 days ago</p>
    </div>
    <div class="review-2 font-style2 bg-light rounded-3 p-4 font-style2">
      <h3 class=" p-4" >Zainab Afolabi</h3>
      <p class="text-success pl-4">***** </p>
      <p>"The service was awesome"</p>
      <p>2 days ago</p>
    </div>
    <div class="review-3 bg-light rounded-3 p-4 font-style2">
      <h3 class=" p-4">Bongoe Maketha</h3>
      <p class="text-success">****</p>
      <p> "Just amazing, quick & hassle-free!"</p>
      <p>1 day ago</p>
    </div>
  </div>
</div>
<div class="footer bg-dark text-light">
  <h2 class="text-light text-decoration-underline p-4 pt-5">Legal Conditions</h2>
  <ul>
    
     <a class="text-light text-decoration-none pb-1 lg-height" href="">Terms and conditions</a> <br>
    
   
    <a  class="text-light text-decoration-none pb-1 lg-height " href="">Privacy policy</a>  <br>
    
    
    <a  class="text-light text-decoration-none pb-1 lg-height"   href="">Cookies policy</a> <br>
    
    <a  class="text-light text-decoration-none pb-1 lg-height" href="">Financial statement</a>  <br>
    
  </ul>

  <a routerLink='/login' class="text-light text-decoration-primary" >Support Db</a>
  <p class="p-4">67 Buckingham Gate, London, SW1E 6AJ, United Kingdom. Company registration number: 09110848 Remitt Mobile Banking is Authorised and Regulated by the Financial Conduct Authority (FCA) under the Payment Service Regulations 2017 and Electronic Money Regulations 2011. Registration number: 900591.</p>
  <p class="text-large bg-grey"> <span class="text-style1 text-larger lg-height"> Remitt* </span> Mobile Banking &COPY; 2021, All Rights Reserved</p>
</div>
