<div class="main-bg">
<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
  
  <div class="container">
    <a href="" class="navbar-brand">ADS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="" class="nav-link">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="" class="nav-link">Register</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink='/login' class="nav-link">Login</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

</div>
