.bg-multicolor{
 
  background: teal;
  height: 800px;
  margin:50px 40px 0px 40px ;
  /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); */
} 

/* .sub-bg{
  background: black;
  height: 600px;
 
  padding-top: 60px;
  border-radius: 30px;
  width: 90vw;
} */

.text-style1{
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  
}