<div class=" main-bg">
 <svg viewBox="0 0 1000 400">
   <text id="my-text" x="50%" y="50%" text-anchor="middle" fill="none">ERROR! </text>
   <use xlink:href="#my-text" class="copy copy-1"></use>
   <use xlink:href="#my-text" class="copy copy-2"></use>
   <use xlink:href="#my-text" class="copy copy-3"></use>
   <use xlink:href="#my-text" class="copy copy-4"></use>
   <use xlink:href="#my-text" class="copy copy-5"></use>
   
   

 </svg>
<!-- <span>OOPS! TRY REPHRASING YOUR SEARCH AGAIN</span> -->
</div>